*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: rgb(52, 161, 1);
}

ul.navbar{
    list-style-type: none;
}

ul.navbar li{
    display: inline-block;
    padding: 10px;
}

ul.navbar li a{
    text-decoration: none;
    color: #fff;
}